# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env
*.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
